<launch>
    <arg name="upper_body" default="true"/>
    <arg name="pcl_detector" default="false"/> <!-- do not use at the same time with upper-body detector! -->
    <arg name="hog" default="false"/>

    <arg name="ground_plane" value="/spencer/sensors/rgbd_rear_top/ground_plane"/>

    <arg name="detection_id_increment" default="20"/>

    <group ns="/spencer/perception_internal/people_detection">

        <!-- RWTH tf based groundplane -->
        <node pkg="rwth_ground_plane" type="ground_plane_tf_based_fixed" name="ground_plane_rear_top" output="screen">
            <param name="base_footprint" value="base_footprint" type="string"/>
            <param name="camera_frame" value="rgbd_rear_top_depth_optical_frame" type="string"/>
            <param name="ground_plane" value="$(arg ground_plane)" type="string"/>
            <param name="rate" value="30.0"/> <!-- limits how fast upper-body and HOG detector can run -->
        </node>

        <!-- Rear RGB-D upper body -->
        <include file="$(find rwth_upper_body_detector)/launch/upper_body_detector.launch" ns="rgbd_rear_top" if="$(arg upper_body)">
            <arg name="detected_persons" value="/spencer/perception_internal/detected_persons/rgbd_rear_top/upper_body"/>
            <arg name="camera_namespace" value="/spencer/sensors/rgbd_rear_top"/>
            <arg name="upper_body_detections" value="upper_body_detector/detections" />
            <arg name="upper_body_bb_centres" value="upper_body_detector/bounding_box_centres" />
            <arg name="upper_body_image" value="image" />
            <arg name="ground_plane" value="$(arg ground_plane)" />
            <arg name="detection_id_offset" value="5"/>
            <arg name="detection_id_increment" value="$(arg detection_id_increment)"/>
        </include>

        <!-- Rear PCL detector (publishes on same topic as upper-body detector) -->
        <group if="$(arg pcl_detector)">
            <remap from="/spencer/perception/detected_persons" to="/spencer/perception_internal/detected_persons/rgbd_rear_top/upper_body"/> <!-- replaces upper-body detections -->
            <include file="$(find pcl_people_detector)/launch/start.launch" ns="rgbd_rear_top">
                <arg name="input_topic" value="/spencer/sensors/rgbd_rear_top/depth_registered/points"/>
                <arg name="camera_info_topic" value="/spencer/sensors/rgbd_rear_top/rgb/camera_info"/>
                <arg name="base_link_frame" value="base_footprint"/>
                <arg name="detection_frame" value="pcl_people_detector_rear_link"/>
                <arg name="ground_coeffs" value="0 0 -1 0"/>
                <arg name="detection_id_offset" value="12"/>
                <arg name="detection_id_increment" value="$(arg detection_id_increment"/>
            </include>
        </group>

        <!-- Rear RGB-D HOG -->
        <include file="$(find rwth_ground_hog)/launch/ground_hog_with_GP.launch" ns="rgbd_rear_top" if="$(arg hog)">
            <arg name="world_scale" value="0.001"/>
            <arg name="score_thresh" value="0.3"/>
            <arg name="detected_persons" value="/spencer/perception_internal/detected_persons/rgbd_rear_top/hog"/>
            <arg name="camera_namespace" value="/spencer/sensors/rgbd_rear_top"/>
            <arg name="detections" value="hog/detections" />
            <arg name="result_image" value="hog/image" />
            <arg name="ground_plane" value="$(arg ground_plane)" />
            <arg name="detection_id_offset" value="6"/>
            <arg name="detection_id_increment" value="$(arg detection_id_increment)"/>
        </include>
       
    </group>

</launch>
