<launch>
    <!-- Launch file arguments -->
    <arg name="tracker_queue_size" default="5"/>
    <arg name="rgbd" default="false"/>
    <arg name="laser_low_confidence_detections" default="true"/>

    <!-- Detection-to-detection fusion pipeline. NOTE: Detectors need to be launched separately via
         roslaunch spencer_people_tracking_launch front_rgbd_detectors.launch
         roslaunch spencer_people_tracking_launch rear_rgbd_detectors.launch
         roslaunch spencer_people_tracking_launch laser_detectors.launch rear:=true
    -->
    <include file="$(find spencer_detected_person_association)/launch/detection_to_detection_fusion_pipeline.launch">
        <!-- Also fuse RGB-D detectors, or just use high-recall and high-precision lasers? -->
        <arg name="rgbd" value="$(arg rgbd)"/>
    </include>         


    <!-- People tracker -->
    <group ns="/spencer/perception_internal/people_tracking">
        
        <include file="$(find srl_nearest_neighbor_tracker)/launch/nnt.launch">
            <arg name="tracker_queue_size" value="$(arg tracker_queue_size)"/>
        </include>

        <rosparam param="srl_nearest_neighbor_tracker/additional_low_confidence_detections" if="$(arg laser_low_confidence_detections)">/spencer/perception_internal/detected_person_association/lasers_high_recall_aggregated</rosparam>
        <rosparam param="srl_nearest_neighbor_tracker/additional_low_confidence_detections" unless="$(arg laser_low_confidence_detections)"></rosparam>
    </group>

    <!-- Filter tracks that are output by people tracker (e.g. visually confirmed tracks, moving tracks etc. on separate topics) -->
    <include file="$(find spencer_people_tracking_launch)/launch/tracking/filter_tracks.launch"/>

</launch>
