<launch>
    <!-- Detectors -->
    <include file="$(find spencer_people_tracking_launch)/launch/detectors/front_rgbd_detectors.launch"/>
    <include file="$(find spencer_people_tracking_launch)/launch/detectors/rear_rgbd_detectors.launch"/>
    <include file="$(find spencer_people_tracking_launch)/launch/detectors/laser_detectors.launch"/> 

    <!-- People tracking -->
    <include file="$(find spencer_people_tracking_launch)/launch/tracking/people_tracking.launch">
        <arg name="rgbd" default="true"/>
        <arg name="laser_low_confidence_detections" default="true"/>
    </include>

    <!-- Group tracking -->
    <include file="$(find spencer_people_tracking_launch)/launch/tracking/group_tracking.launch"/> 

</launch>
