<!--
Software License Agreement (BSD License)

Copyright (c) 2013-2015, Timm Linder, Social Robotics Lab, University of Freiburg
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

* Neither the name of the copyright holder nor the names of its contributors
  may be used to endorse or promote products derived from this software
  without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->

<!-- Launch file for playing bagfiles recorded with the SPENCER robot platform -->
<launch>
  <!-- CONFIGURABLE ARGUMENTS -->
  <arg name="files"/>
  <arg name="localization" default="false"/>

  <!-- Playback options -->
  <arg name="rqt" default="false"/>
  <arg name="pause" default="true"/>
  <arg name="loop" default="false"/>
  <arg name="start" default="0.0"/> <!-- seconds into the bagfile at which to start playing -->
  <arg name="duration" default="99999999.9"/> <!-- number of seconds to play -->
  <arg name="rate" default="1.0"/> <!-- playback speed -->

  <!-- Visualization options -->
  <arg name="visualization" default="true" /> <!-- whether to run RViz with provided config, or not -->
  <arg name="rviz_config_file" default="$(find spencer_bagfile_tools)/launch/components/visualization_demo_1.rviz"/> <!-- configuration file for RViz to use, if visualization is enabled -->
  
  <arg name="rosbag_play_args" default="--clock --queue=5 --delay=0 --start=$(arg start) --duration=$(arg duration) --rate=$(arg rate)" /> <!-- extra arguments used to play back the bagfile -->
 
  <!-- Important: Use simulated time published on /clock topic, otherwise TF will be broken -->
  <param name="/use_sim_time" value="true"/>

  <!-- BAG FILE PLAYBACK -->
  <group>
    <remap from="/tf" to="/spencer/sensors/tf_in_bagfile"/>
    <remap from="/spencer/sensors/clock" to="/clock"/>

    <!-- This script launches either rosbag play or rqt_bag, and searches for all relevant bag files for the active sensor modalities in the given folder -->
    <node name="playback_wrapper" pkg="spencer_bagfile_tools" type="play.py" output="screen" required="true" ns="/spencer/sensors" clear_params="true"> <!-- sub-namespace only applied for relative topic names in bagfile -->
      <param name="files" value="$(arg files)"/>
      <param name="rqt" value="$(arg rqt)"/>
      <param name="pause" value="$(arg pause)"/>
      <param name="loop" value="$(arg loop)"/>
      <param name="rosbag_play_args" value="$(arg rosbag_play_args)"/>
    </node>
  </group>

  <!-- TF EXCLUSIONS -->
  <group>
    <remap from="tf_old" to="/spencer/sensors/tf_in_bagfile"/>
    <node name="tf_filter" pkg="spencer_bagfile_tools" type="tf_filter.py" args="_exclude:='[{parentFrame: '/map', childFrame: '/odom'}, {parentFrame: '/map', childFrame: '/occmap'}, {parentFrame: 'map', childFrame: 'mcl_pose'}]'"/>
  </group>

  <!-- TRACKING-RELATED FILTERING FOR VISUALIZATION -->
  <!-- Fix orientation of non-moving targets (assume previous orientation while it was still moving, or face towards sensor if unknown) -->
  <node name="fix_orientation_of_non_moving_targets" pkg="spencer_tracking_utils" type="fix_orientation_of_non_moving_targets">
      <param name="min_required_avg_velocity" value="0.15"/>
      <remap from="input_tracks" to="/spencer/perception/tracked_persons_moving"/>
      <remap from="output_tracks" to="/spencer/perception/tracked_persons_moving_orientation_fixed"/>
  </node>

  <!-- LOCALIZATION (TO VISUALIZE NDT-MCL ETC.) -->
  <include file="$(find ndt_mcl)/launch/spencer_mcl_node.launch" if="$(arg localization)"/>

  <!-- ROBOT URDF -->
  <include file="$(find spencer_description)/launch/publish.launch"/>

  <!-- VISUALIZATION -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config_file)" required="false" if="$(arg visualization)"/>

</launch>
