<!-- Fuses front and rear RGB(-D) groundHOG detections by simple aggregation. -->
<launch>
    <arg name="common_frame_id" default="base_footprint"/>
    
    <group ns="/spencer/perception_internal/detected_person_association">
        <!-- Convert DetectedPersons topics into CompositeDetectedPersons, and transform poses into common coordinate frame -->
        <node name="convert_to_composite_rgbd_ground_hog_front" pkg="nodelet" type="nodelet" args="load spencer_detected_person_association/ConvertToCompositeDetectionsNodelet detected_person_association_nodelet_manager" output="screen">
            <remap from="input" to="/spencer/perception_internal/detected_persons/rgbd_front_top/hog"/>
            <remap from="output" to="composite/rgbd_ground_hog_front"/>
            <param name="common_frame_id" value="$(arg common_frame_id)"/>
        </node>

        <node name="convert_to_composite_rgbd_ground_hog_rear" pkg="nodelet" type="nodelet" args="load spencer_detected_person_association/ConvertToCompositeDetectionsNodelet detected_person_association_nodelet_manager" output="screen">
            <remap from="input" to="/spencer/perception_internal/detected_persons/rgbd_rear_top/hog"/>
            <remap from="output" to="composite/rgbd_ground_hog_rear"/>
            <param name="common_frame_id" value="$(arg common_frame_id)"/>
        </node> 

        <!-- Aggregate groundHOG in RGB-D -->
        <node name="aggregate_rgbd_ground_hog" pkg="nodelet" type="nodelet" args="load spencer_detected_person_association/AggregateDetectionsNodelet detected_person_association_nodelet_manager" output="screen">
            <rosparam param="input_topics">
                - composite/rgbd_ground_hog_front
                - composite/rgbd_ground_hog_rear
            </rosparam>
            <remap from="output" to="composite/rgbd_ground_hog_aggregated"/>
        </node>

    </group>

</launch>