<launch>
    <!-- Launch file arguments -->
    <arg name="rgbd" default="false"/>
    <arg name="common_frame_id" default="base_footprint"/>

    <!-- Aggregate detections from all detectors -->
    <include file="$(find spencer_detected_person_association)/launch/aggregate_all.launch">
        <arg name="rgbd" value="$(arg rgbd)"/>
        <arg name="common_frame_id" value="$(arg common_frame_id)"/>
    </include>

    <!-- If RGB-D is enabled, fuse lasers and RGB-D -->
    <include file="$(find spencer_detected_person_association)/launch/fuse_lasers_and_rgbd.launch" if="$(arg rgbd)"/>
    
    <!-- Re-publish final composite detections as normal detections, for processing by the tracker-->
    <group ns="/spencer/perception_internal/detected_person_association">
        <!-- Final primary detection composites will be on this topic -->
        <arg name="final_composite_topic" value="composite/lasers_upper_body_ground_hog_fused" if="$(arg rgbd)"/>
        <arg name="final_composite_topic" value="composite/lasers_aggregated"   unless="$(arg rgbd)"/>

        <!-- Primary detections -->
        <node name="relay_final_composite_detections" type="relay" pkg="topic_tools" args="$(arg final_composite_topic) /spencer/perception/detected_persons_composite"/>
        <node name="convert_final_composite_detections_to_detections" type="composite_detections_to_detections.py" pkg="spencer_detected_person_association"/>  

        <!-- Secondary high-recall detections -->
        <node name="convert_laser_high_recall_composite_detections_to_detections" type="composite_detections_to_detections.py" pkg="spencer_detected_person_association">
            <remap from="/spencer/perception/detected_persons_composite" to="composite/lasers_high_recall_aggregated"/>
            <remap from="/spencer/perception/detected_persons" to="lasers_high_recall_aggregated"/>
        </node>  
    </group>
    
    <!-- TODO: Assign unique composite detection IDs in final output stage(??) -->   
    <!-- TODO: Filter to publish only n detections closest to robot -->

</launch>