<!-- 
Test script for the nearest-neighbor tracker which loads an annotated logfile, visualizes the laser segments, detections and tracks,
and uses the groundtruth detections as an input to the tracker.

Supply a different logfile, if desired, by passing in a filename, e.g.
roslaunch srl_nearest_neighbor_tracker test_with_groundtruth.launch filename:=123.log
-->
<launch>
    <!-- Optional command-line arguments -->
   <!-- <arg name="filename" default="$(find srl_nearest_neighbor_tracker)/data/logfiles/fr_aspekt1_eval.lab"/>-->
	<arg name="filename" default="$(find srl_nearest_neighbor_tracker)/data/logfiles/fr_mainstation1_cut_eval.lab"/>
    <arg name="rate" default="0.1"/>

    <!-- Play back annotated logfile, publish annotated laser segments as spencer_tracking_msgs/TrackedPersons and DetectedPersons, also as MarkerArray + PointCloud2 for visualization. -->
    <include file="$(find srl_tracking_logfile_import)/launch/publish_logfile.launch">
        <arg name="visualization" value="false"/>
        <arg name="filename" value="$(arg filename)"/>
        <arg name="rate" value="$(arg rate)"/>
    </include>

<!-- AHC lasersegmentation -->
    <node name="ahc_segmentation" type="ahc_segmentation" pkg="srl_laser_segmentation" output="screen"> <!-- launch-prefix="gdb -ex run -args " -->
    </node> 

<!-- The blob detector -->
    <node name="blob_detector" type="blob_detector" pkg="srl_laser_detectors" output="screen"> <!-- launch-prefix="gdb -ex run -args " -->
        <remap from="/detected_persons" to="/spencer/perception/detected_persons"/>
	<param name="min_points" value="2" />
	<param name="max_points" value="150" />
	<param name="min_width" value="0.02" />
	<param name="max_width" value="1.2" />
	<param name="max_range" value="80" />
	 
    </node> 

    <!-- The nearest-neighbor tracker itself -->
    <node name="nnt" type="nnt_node" pkg="srl_nearest_neighbor_tracker" output="screen"> <!-- launch-prefix="gdb -ex run -args " -->
    </node> 

 <!-- Logger -->
    <node name="logger" type="logger_node" pkg="srl_nearest_neighbor_tracker" output="screen"> <!-- launch-prefix="gdb -ex run -args " -->
    </node>


    <!-- Visualization 
    <node name="rviz" type="rviz" pkg="rviz" args="-d $(find srl_nearest_neighbor_tracker)/launch/visualization_with_groundtruth.rviz"/>-->
</launch>
